.header {
    font-family: monospace;
    background: papayawhip;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 8px;
    justify-content: space-between;
}

.logo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 48px;
    font-weight: 1000;
    color: tomato;
    background: white;
    padding: 4px 32px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 8px;
    gap: 16px;
}

a {
    font-size: 22px;
    background: white;
    padding: 8px;
    text-decoration: none;
}

.left-links {
    display: flex;
    align-items: start;
}

.right-links {
    display: flex;
    align-items: end;
}