body {
    max-width: 600px;
    margin: 0 auto;
}

.one {
    background-color: pink;
    border: 3px solid blue;
    padding: 30px;
    margin: 10px;
}

.two {
    background-color: lightblue;
    border: 4px solid purple;
    margin-bottom: 50px;
}

.three {
    background-color: peachpuff;
    border: 3px solid brown;
    width: 200px;
    padding: 35px;
    margin-left: 330px;
}