.intro {
    background-color: rgb(201, 150, 150);
    font-family: Verdana, DejaVu Sans, sans-serif;
}

#unique-id-1 {
    color: blue;
    font-size: 36px;
    font-weight: bold;
}

#unique-id-2 {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}